@import 'tailwindcss';
@layer base {
    body {
        @apply bg-slate-50 dark:bg-[#0d1117f7];
    }
}
/*
@theme {
    --gh-dark: #0d1117;
}

@utility bg-code {
    @apply bg-white dark:bg-[var(--gh-dark)];
}

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

    body {
        @apply bg-slate-50 dark:bg-[#0d1117f7];
    }

    button {
        @apply py-2 px-4 rounded-sm transition-colors my-2 
        disabled:opacity-70 disabled:pointer-events-none
        bg-blue-500 text-white hover:bg-blue-700
        dark:bg-slate-600 dark:text-white dark:hover:bg-slate-700;
        
    }

    a {
        @apply text-blue-500 hover:text-blue-700 transition-colors underline;
    }

    h1 {
        @apply text-2xl font-semibold mb-4;
    }

    input[type="text"] {
        @apply appearance-none rounded-sm w-full py-1 px-3 leading-tight focus:outline-hidden my-2
            border border-gray-200 dark:border-slate-600
            dark:bg-slate-800 dark:text-gray-200;
    }

    /* .input-group {
        @apply flex flex-row mt-2;

        & > input {
            @apply rounded-r-none;
        }

        & > button {
            @apply rounded-l-none;
        }
    } * /

    [data-bright-theme] {
        @apply m-0!;
    }
*/