.nextraNavContainerBlur {
    --tw-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    background-color: hsla(0, 0%, 100%, .85);
}

@media (prefers-color-scheme: dark) {
    .nextraNavContainerBlur {
        background-color: hsla(0, 0%, 0%, .85);
    }
}

.link {
    @apply no-underline hover:opacity-75 transition-opacity text-black dark:text-white hover:text-black hover:dark:text-white
}